.absoluteContainer {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: var(--ws100);
  height: var(--hs100);
  overflow: hidden;
  z-index: 5;
}

.glass {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--ws100);
  height: var(--hs100);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.popUpContainer {
  z-index: 6;
}
