.mainPageContainer {
  position: relative;
  width: var(--ws100);
  height: var(--hs100);
  overflow: hidden;
}

.messagingArena {
  position: relative;
  top: var(--w90);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: var(--m90);
}
